//Global variables

//Colors variables - start 
$black-color: #000;
$primary-color: #f06424;
$blue-light: #24AAD1;
$blue-dark: #151F35;
$category-color: #ff621a;

//Font variables
$primary-font-family: 'Source Sans Pro', sans-serif;
//$primary-font-family-cond: 'MarrSansCond';
$paragraph-font-size: 15px;
$h1-font-size: 45px;
$h2-font-size: 30px;
$h3-font-size: 22px;





