@import 'reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body{
  * {
    color: black;
    font-family: 'Roboto', sans-serif;
  }
}

.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content{
    flex-grow: 1;
  }

  .container{
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
  }
}

.has-text-align-center{
  text-align: center;
}