.header{
  height: 70px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  .container{
    display: flex;
    align-items: center;
  }

  .logo{
    margin-right: 20px;

    img{
      max-width: 150px;
      margin: 0;
    }
  }

  nav{
    margin-left: auto;

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li{
        margin: 0 15px 0 0;

        &:last-of-type{
          margin: 0;
        }

        a[aria-current="page"]{
          border-bottom: 2px solid black;
        }

        a{
          text-decoration: none;
          font-size: 18px;
          border-bottom: 2px solid transparent;
          padding-bottom: 3px;

          &:hover{
            border-bottom: 2px solid black;
          }
        }
      }
    }
  }
}